
h2{
    color: white;
    font-style: normal;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
}

#ronaldo {
  background-color: gray;
  border: solid 2px black;
  border-radius: 35px;
  width: 30%;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
  color: black;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#cadastrar {
    margin-top: 15px;
    background: rgb(12, 185, 12);  
    color: #ffffff;  
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
